@import url(reset.css);

body {
    background: url(../img/bg1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #EEE0E5;
}



header {
    /* position: absolute;
    top: 0;
    width: 100%; */
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0.4rem;
    /* text-align: center; */
}

.head {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    /* color: #C9C9C9; */
}

.head-a {
    display: inline-block;
    /* line-height: 1.71rem; */
    padding-left: 1.6rem;
    color: #EEE0E5;
    width: 42%;
}

.xiu {
    display: inline-block;
    width: 58%;
}

.headtext {
    text-align: center;
    margin-bottom: 1rem;
}

.headtext span {
    display: inline-block;
    padding: 2rem;
}

.rank {
    display: flex;
    justify-content: space-between;
    width: 9rem;
    margin-bottom: 1rem;
    color: #030303;
}

.box {
    width: 70%;
    text-align: center;
    background: rgba(255, 178, 99, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.hides {
    display: none;
}

.tab {
    width: 70%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
}

.tab li {
    width: 35%;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 4rem;
    border-radius: 5px;
    border: 1px solid #F0F0F0;
    text-align: center;
}

.shows {
    display: block;
}

.tab li.cur {
    background: rgba(196, 86, 98, 0.8);
}

.next {
    background: rgba(196, 114, 97, 0.9);
    height: 5rem;
    width: 5rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 50%;
    color: white;
    margin: 0 auto;
    margin-top: 1rem;
}

.hint {
    position: absolute;
    top: 6.8rem;
    left: -15rem;
    width: 14rem;
    height: 1.7rem;
    line-height: 1.7rem;
    border-radius: 5px;
    text-align: center;
    background: #FF4500;
    color: #E0E0E0;
}